<html>
	<body>
		<form action="/object/" method="POST">
			Titre: <input type="text" name="title"><br>
			Modele: <input type="text" name="model"><br>
			Prix: <input type="text" name="price"><br>
			Description: <input type="text" name="desc"><br>
			Type: <input type="text" name="type"><br>
			Capacite: <input type="text" name="cap"><br>
			Proprietaire: <input type="text" name="own"><br>
			<input type="submit" value="POST"><br>
		</form>
		<a href="http://testgcp-996.appspot.com/object/">GET</a><br>
		<a href="http://testgcp-996.appspot.com/delete/">DELETE</a>
	</body>
</html>
